
{% extends 'header.html' %}

        {% block content %}

        


        
        <h1>Madhusagar Nimmakanti</h1>
      
        <div class="container-fluid">
            <div class="row interface mb-3">
                <span class="M" style="color:Blue;font-size:11pt;font-weight:bold;font-style:italic;">Dear Student, After payment of fee, please download Fee Receipt Mandatorily. If receipt is not generated, contact the Accounts Department / Exam Branch during college working hours.</span>
            </div>
            <div class="row ">
                <div class="col-md-12 A">
                    <span>Your Latest Attendance is:</span>
                    <b>94.23 %</b>
                   <p>(Your attendance is Very Good!)</p>
                </div>
            </div>
            <div class="row links">
                <a href="#">
                    Click Here to Pay College/Transport/Hostel Fees Online</a><br>
                <a href="#">
                    Click Here to Pay Condonation Fees Online</a><br><br>
                <a href="#" style="color: darkgreen;font-size: 20px;">Click Here To Pay Regular Exam Fees Online</a><br><br>
                <a href="#">Click Here to Pay Supply Exam Fees Online</a><br><br>
                <a href="#">Click Here to Pay Revaluation Exam Fees Online</a><br><br>
                <a href="#">Click Here to Go for Regular/Supply Fee Receipts</a><br><br>
            </div>
            <td >
                <h5 class="D">ToDay's Time Table</h5>
            </td>
            <table style="border:1px solid black;">
                <thead style="background: rgb(202, 200, 200);">
                    <tr class="H">
                        <th style="border: 1px solid black;">Day </th>
                        <th style="border: 1px solid black;">P1
                            (09:30-10:20) </th>
                        <th style="border: 1px solid black;">P2
                            (10:20-11:10) </th>
                        <th style="border: 1px solid black;">P3
                                 (11:10-12:00) </th>
                        <th style="border: 1px solid black;">P4
                                (12:00-12:50) </th>
                        <th style="border: 1px solid black;">P5
                                (01:40-02:30) </th>
                        <th style="border: 1px solid black;">P6
                                (02:30-03:20)
                                    </th>
                        <th style="border: 1px solid black;">P7
                                (03:20-04:10)</th>
                    </tr>
                 </thead>
                <tbody style="border: 1px solid black;">
                    <tr style="border: 1px solid black;">
                        <td>THU</td>
                        <td style="border: 1px solid black;">CD <br>
                                        (DJ - COMPUTER SC <br>IENCE  AND ENGINEE <br>RING-E)</td>
                        <td style="border: 1px solid black;">PP Lab <br>
                                        (NK - CSE)</td>
                        <td style="border: 1px solid black;">PP Lab <br>
                                        (NK - CSE)</td>
                        <td style="border: 1px solid black;">PP Lab <br>
                                        (NK - CSE)</td>
                        <td style="border: 1px solid black;">ML <br>
                                        (Aparna - CSE)</td>
                        <td style="border: 1px solid black;">CD <br>
                                        (DJ - COMPUTER SC <br>IENCE AND ENGINEE <br>RING-E)</td>
                        <td style="border: 1px solid black;">FIOT <br>
                                        (GSK - CSE)</td>
                    </tr>
                </tbody>
            </table>  
            <a href="">View Full Time Table</a>
            <br><br>
            <table style="border: 1px solid black; width: 50%;">
                <tb >
                    <h5 class="D">Subject Wise Attendance</h5>
                </tb>
                <thead style="border: 1px solid black; background:rgb(202, 200, 200)">
                    <tr class="U">
                        <th>SlNo</th>
                        <th>Subject</th>
                        <th>Faculty</th>
                        <th>Classes Held</th>
                        <th>Classes Attended</th>
                        <th>Att %</th>
                    </tr>
                </thead>
                <tbody class="S">
                    <tr class="G">
                        <td>1</td>
                        <td>ML : Machine Learning</td>
                        <td>Aparna : TAMMA APARNA</td>
                        <td>46</td>
                        <td>43</td>
                        <td>93.48</td>
                    </tr>
                    <tr class="G">
                        <td>2</td>
                        <td>CD : CompilerDesign</td>
                        <td>DJ : Dhananjay</td>
                        <td>37</td>
                        <td>34</td>
                        <td>91.89</td>
                    </tr>
                    <tr class="G">
                        <td>3</td>
                        <td>DAA : Design and Analysis of Algorithms</td>
                        <td>SM : SOWMYA MALLA</td>
                        <td>30</td>
                        <td>29</td>
                        <td>96.67</td>
                    </tr>
                    <tr class="G">
                        <td>4</td>
                        <td>ML Lab : Machine Learning Lab</td>
                        <td></td>
                        <td>19</td>
                        <td>19</td>
                        <td>100.00</td>
                    </tr>
                    <tr class="G">
                        <td>5</td>
                        <td>CD Lab : CompilerDesignLab</td>
                        <td></td>
                        <td>22</td>
                        <td>22</td>
                        <td>100.00</td>
                    </tr>
                    <tr class="G">
                        <td>6</td>
                        <td>PP : Python Programming</td>
                        <td>NK : KAVITHA NALLAMOTHU</td>
                        <td>37</td>
                        <td>35</td>
                        <td>94.59</td>
                    </tr>
                    <tr class="G">
                        <td>7</td>
                        <td>FIOT : Fundamentals of Internet of Things</td>
                        <td>GSK : G SUNIL KUMAR</td>
                        <td>35</td>
                        <td>33</td>
                        <td>94.29</td>
                    </tr>
                    <tr class="G">
                        <td>8</td>
                        <td>PP Lab : Python Programming Lab</td>
                        <td></td>
                        <td>15</td>
                        <td>12</td>
                        <td>80.00</td>
                    </tr>
                    <tr class="G">
                        <td>9</td>
                        <td>CS : Cyber Security</td>
                        <td>MRC : MR CHAITANYA/td>
                        <td>19</td>
                        <td>18</td>
                        <td>94.74</td>
                    </tr>
                    <tr class="G">
                        <td></td>
                        <td></td>
                        <td>Total</td>
                        <td>260</td>
                        <td>245</td>
                        <td>94.23</td>
                    </tr>
                </tbody>
            </table>
            <br><br>
            <table style="width: 55%; border: 1px solid black;">
                <tb>
                    <h5 class="D">Notifications</h5>
                </tb>
                <thead style="border: 1px solid black; background:rgb(202, 200, 200)">
                    <th>Date & Time</th>
                    <th>Notifiedby</th>
                    <th>Subject</th>
                    <th>Narration</th>
                    <th>File</th>
                    <th>Status</th>
                </thead>
                <tbody>
                    <tr>
                        <td>13-03-2024 12:52:48 PM</td>
                        <td ><a style="color: red; text-decoration: none;" href="">ADMIN/PRINCIPAL</a></td>
                        <td ><a style="color: red;" href="">III-II B.Tech M-I TT</a></td>
                        <td ><a style="color: red;" href="">III-II B.Tech M-I TT</a></td>
                        <td ><a href="">III-II B.Tech M-I TT</a></td>
                        <td>New</td>
                    </tr>
                </tbody>
            </table><br><br>
            <table style="width: 55%; border: 1px solid black;">
                <tb>
                    <h5 class="D">Date wise Attendance</h5>
                </tb>
                <thead style="border: 1px solid black; background:rgb(202, 200, 200)">
                   <tr class="U">
                    <th>DayName</th>
                    <th>1<br>
                        (09:30-10:20)</th>
                    <th>2<br>
                        (10:20-11:10)</th>
                    <th>3<br>
                        (11:10-12:00)</th>
                    <th>4<br>
                        (12:00-12:50)</th>
                    <th>5<br>
                        (01:40-02:30)</th>
                    <th>6<br>
                        (02:30-03:20)</th>
                    <th>7<br>
                        (03:20-04:10)</th>
                   </tr>
                </thead>
                <tbody>
                    <tr class="G">
                        <td>29-01-2024(Mon)</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>
                    <tr class="G">
                        <td>29-01-2024(Mon)</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>
                    <tr class="G">
                        <td>29-01-2024(Mon)</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>
                    <tr class="G">
                        <td>29-01-2024(Mon)</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>
                    <tr class="G">
                        <td>29-01-2024(Mon)</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>
                    <tr class="G">
                        <td>29-01-2024(Mon)</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>
                    <tr class="G">
                        <td>29-01-2024(Mon)</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>
                    <tr class="G">
                        <td>29-01-2024(Mon)</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>
                    <tr class="G">
                        <td>29-01-2024(Mon)</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>
                    <tr class="G">
                        <td>29-01-2024(Mon)</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>
                    <tr class="G">
                        <td>29-01-2024(Mon)</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>
                    <tr class="G">
                        <td>29-01-2024(Mon)</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>
                    <tr class="G">
                        <td>29-01-2024(Mon)</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>
                    <tr class="G">
                        <td>29-01-2024(Mon)</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>
                    <tr class="G">
                        <td>29-01-2024(Mon)</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>
                    <tr class="G">
                        <td>29-01-2024(Mon)</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>
                    <tr class="G">
                        <td>29-01-2024(Mon)</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>
                    <tr class="G">
                        <td>29-01-2024(Mon)</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>
                    <tr class="G">
                        <td>29-01-2024(Mon)</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>
                    <tr class="G">
                        <td>29-01-2024(Mon)</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>
                    <tr class="G">
                        <td>29-01-2024(Mon)</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>
                    <tr class="G">
                        <td>29-01-2024(Mon)</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>
                    <tr class="G">
                            <td>29-01-2024(Mon)</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                    </tr>
                    <tr class="G">
                            <td>29-01-2024(Mon)</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                    </tr>
                    <tr class="G">
                            <td>29-01-2024(Mon)</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                    </tr>
                    <tr class="G">
                            <td>29-01-2024(Mon)</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                     </tr>
                    <tr class="G">
                            <td>29-01-2024(Mon)</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                    </tr>
                    <tr class="G">
                            <td>29-01-2024(Mon)</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                    </tr>
                    <tr class="G">
                            <td>29-01-2024(Mon)</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                    </tr>
                        <tr class="G">
                            <td>29-01-2024(Mon)</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                        </tr>
                        <tr class="G">
                            <td>29-01-2024(Mon)</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                        </tr>

                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
